.navbar {
  max-width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar h2 a {
  color: var(--main-black);
}

.linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.linkContainer a {
  margin: 0 5px;
  padding: 6px;
  font-size: 1.2rem;
  font-weight: 600;
}

.contactGroup {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.contactGroup a {
  padding: 5px;
}

.pageContactGroup {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: fit-content;
}

.pageContactGroup a {
  padding: 5px;
  margin-right: 16px;
}
