:root {
  --main-black: hsl(258deg, 6%, 11%);
  --off-gray: hsl(258deg, 6%, 30%);
  --light-lavender: hsl(270deg, 76%, 80%);
  --background: hsl(320, 76%, 97%);
  --app-lavender: hsl(270deg, 76%, 64%);
  --dark-lavender: hsl(270deg, 85%, 55%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: var(--main-black);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--dark-lavender);
  text-decoration: none;
  display: flex;
  align-items: center;
}

a:hover {
  color: var(--app-lavender);
  outline: 2px dashed var(--app-lavender);
}

img {
  max-width: 100%;
  display: block;
}
